<h3>Pick a Week</h3>
<p><%= link_to 'Week 1', "/my_picks/1" %></p>
<p><%= link_to 'Week 2', "/my_picks/2" %></p>
<p><%= link_to 'Week 3', "/my_picks/3" %></p>
<p><%= link_to 'Week 4', "/my_picks/4" %></p>
<p><%= link_to 'Week 5', "/my_picks/5" %></p>
<p><%= link_to 'Week 6', "/my_picks/6" %></p>
<p><%= link_to 'Week 7', "/my_picks/7" %></p>
<p><%= link_to 'Week 8', "/my_picks/8" %></p>
<p><%= link_to 'Week 9', "/my_picks/9" %></p>
<p><%= link_to 'Week 10', "/my_picks/10" %></p>
<p><%= link_to 'Week 11', "/my_picks/11" %></p>
<p><%= link_to 'Week 12', "/my_picks/12" %></p>
<p><%= link_to 'Week 13', "/my_picks/13" %></p>
<p><%= link_to 'Week 14', "/my_picks/14" %></p>
<p><%= link_to 'Week 15', "/my_picks/15" %></p>
<p><%= link_to 'Week 16', "/my_picks/16" %></p>
<p><%= link_to 'Week 17', "/my_picks/17" %></p>